* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body, app {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #303030;
}

$placeholder-color: #c0c0c0;

::-webkit-input-placeholder {
  color: $placeholder-color;
}
::-moz-placeholder {
  color: $placeholder-color;
}
:-ms-input-placeholder {
  color: $placeholder-color;
}
:-moz-placeholder {
  color: $placeholder-color;
}
